<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="username" name="username" required>
    </div>
    <div>
      <label for="birthdate">Birthdate:</label>
      <input type="text" id="birthdate" [(ngModel)]="birthdate" name="birthdate" required>
    </div>
    <div>
      <label for="age">Age:</label>
      <input type="text" id="age" [(ngModel)]="age" name="age" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" [(ngModel)]="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required>
    </div>
    <button type="submit">Login</button>
  </form>
  
</div>
